.cadastrar-funcionario form, .atualizar-funcionario form {
    display: flex;
    flex-direction: column;
}

.cadastrar-funcionario h2, .atualizar-funcionario h2, .listar-funcionario h2 {
    font-size: 28px;
}

.cadastrar-funcionario h2, .cadastrar-funcionario input, .cadastrar-funcionario select,
.atualizar-funcionario h2, .atualizar-funcionario input, .atualizar-funcionario select {
    margin-bottom: 16px;
    border-radius: 5px;
}

.listar-funcionario form {
    display: flex;
    align-items: center;
    gap: 16px;
}

button {
    cursor: pointer;
}

.conteudo div { 
    width: 420px;
    max-height: 550px;
}

.conteudo label{
    font-size: 18px;
}