.cadastrar-transportadora form {
    display: flex;
    flex-direction: column;
}

.cadastrar-transportadora h2 {
    font-size: 28px;
}

.cadastrar-transportadora input,
.cadastrar-transportadora select {
    margin-bottom: 16px;
    border-radius: 5px;
}

.listar-transportadoras {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}